html {
  background-color: #6660CD;
}

table {
  border: 2px solid black;
}

body {
  max-width: 960px;
  min-width: 400px;
  margin: auto;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.smallerCopy {
  font-size: 12px;
}

.largerCopy {
  font-size: 20px;
}

form {
  width: 50%;
  border: 2px solid black;
  color: white;
}

.mainLogo {
  height: 40px;
  position: -20%;
}

.tagLine {
  font-size: 12px;
  font-style: italic;
  color: white;
  text-align: left;
}

.salmonFamily {
  display: block;
  margin-right: auto;
  width: 100%;
  opacity: 0.4;
  background-color: black;
  position: relative;
}

.companyName {
  left: 0;
  position: absolute;
  text-align: center;
  top: 250px;
  width: 100%;
  color: white;
  font-size: 60px;
  font-family: Arial, 'Work Sans', sans-serif;
}

.mainPageBlock {
  color: white;
  font-family: Arial, 'Work Sans', sans-serif;
}

#navigation {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #6660CD;
  width: 100%;
}

#navigation li {
  float: left;
}

#navigation li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, 'Work Sans', sans-serif;
}

#navigation li a:hover {
  background-color: #111;
}

.tshirt {
  display: block;
  margin-right: auto;
  background-color: black;
  position: relative;
  align-content: center;
}
