html {
  background: linear-gradient(#FFEAEA, #ffffff);
}

table {
  border: 2px solid black;
}

table td {
  border: 1px solid black;
}

body {
  max-width: 960px;
  min-width: 400px;
  margin: auto;
}

form {
  width: 50%;
  border: none;
  color: black;
  text-align: left;
}

form input {
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

input[type=submit] {
  background-color: #FF4E4E;
}

header img {
  height: 40px;
  position: 80%;
}

header p {
  font-size: 12px;
  font-style: italic;
  color: black;
  text-align: left;
}

.salmonFamily {
  display: block;
  margin-right: auto;
  width: 100%;
  opacity: 0.4;
  background-color: white;
  position: relative;
}

.companyName {
  left: 0;
  position: absolute;
  text-align: center;
  top: 250px;
  width: 100%;
  color: black;
  font-size: 60px;
  font-family: Arial, 'Work Sans', sans-serif;
}

.mainPageBlock {
  color: black;
  font-family: Arial, 'Work Sans', sans-serif;
  text-align: left right;
}

.mainPageBlock p {
  font-size: 12px;
}

.mainPageBlock h1 {
  font-size: 20px;
}

#navigation {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #FFEAEA;
  width: 100%;
}

#navigation li {
  float: left;
}

#navigation li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, 'Work Sans', sans-serif;
}

#navigation li a:hover {
  background-color: #FF4E4E;
}

.headers {
  font-family: 'Playfair Display', serif;
  padding-bottom: 50px;
}

.bodyCopy {
  padding-bottom: 50px;
}

.bodyCopy p {
  font-family: "Avenir", serif;
}

.dataCopy {
  padding-bottom: 50px;
}

.dataCopy p {
  font-family: 'courier', monospace;
}

#boxdarkred {
  width: 100px;
  height: 100px;
  background: #661C1C;
  border-radius: 100%
}

#boxmediumred {
   width: 100px;
   height: 100px;
   background: #7C3636;
   border-radius: 100%
}

#boxlightred {
  width: 100px;
  height: 100px;
  background: #C17E7E;
  border-radius: 100%;
}

.merch {
  float: left;
  border-top: 3px black;
  border-bottom: 3px black;
  padding-bottom: 50px;
}

.merch p {
  width: 75%;
}

.merch img {
  float: right;
}

.salmonRelatedEvents {
  position: relative;
}

footer {
  text-align: center;
}
